$margin: 10px;

.header {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &__headline {
        margin: 0 0 0 $margin;
    }
}