<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('./partials/_meta.html') %>
  <title>Alex Mayer</title>
  <%= require('./partials/_stylesheets.html') %>
</head>

<body class="home">
  <%= require('./partials/_header.html') %>
  <main class="content">
    <section id="services" class="content__section">
      <h3 class="h3">Leistungen</h3>
      <%= require('./partials/_cards.html') %>
    </section>
    <section id="news" class="content__section">
      <h3 class="h3">News</h3>
      <%= require('./partials/_news-list.html') %>
    </section>
    <section id="credentials" class="content__section">
      <h3 class="h3">Referenzen</h3>
      <%= require('./partials/_references.html') %>
    </section>
  </main>
  <%= require('./partials/_footer.html') %>

  <%= require('./partials/_javascripts.html') %>
</body>

</html>