$primaryColor: #333;
$primaryColorDarker: #256F98;

// present at:
// first element Serviceicons, Grid 
$secondColor: #FFFBCE;

// present at:
// second element Serviceicons, Grid 
$thirdColor: #BEE3EE;

// present at:
// third element Serviceicons, Grid
$fourthColor: #D0E4C6;

// present at:
// Newslist -> Background
$fiveColor: #F3D1BF;

$green: #459B45;

$defaultFontColor: #333;